body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  margin-bottom: 400px;
  margin-left: 100px;
}

.text {
  font-size: 5em;
  font-family: monospace;
  border-right: 5px solid;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 5px;
  animation: blinkCursor 0.7s step-end infinite;
}
/* Cursor blinking animation */
@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

/* this is for css 
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    margin-bottom: 400px;
    margin-left: 100px;
}
.text{
    font-size: 5em;
    letter-spacing: 10;
    font-family: monospace;
    width: 100%;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(20), cursor .4s step-end infinite alternate;
}
/* Cursor blinking animation */
/* @keyframes cursor {
    50% {
        border-color: transparent;
    }
} */
/* Typing animation */
/* @keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}  */



